/* CSS Document**************************************************** */
 #section--41110{
     overflow:visible;
}
 #section--41110 .containerInner{
     width:100% !important;
}
 nav a {
    display:inline-block;
    padding:14px;
    color:#fff;
    font-size:17px;
    text-decoration:none;
}
#ham{
    width: 35px;
    height: 5px;
    background-color:#fff;
    margin: 6px 0;
}
#logo {
    display: block;
    padding: 0 20px;
    float: left;
    font-size:0px;
}
nav ul ul li {
    background:#000;
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}
#logo img{
    width: 200px;
    position:absolute;
    z-index: 9999;
}
nav ul li:hover > ul {
    display:block;
}
.menu{
    z-index: 10;
}
#tmp_image-58267{
    width: 100px;
    position:absolute;
}
h3 a {
    color: #040000;
}
a {
    color: #040000;
}
#container {
    margin: 0 auto;
}
p {
    text-align: center;
}
.toggle, [id^=drop] {
    display: none;
}
nav {
    margin:0;
    padding: 0;
}
nav:after {
    content:'';
    display:table;
    clear:both;
}
nav ul {
    float: right;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}
nav ul li {
    margin: 0px;
    display:inline-block;
}
nav a:hover {
    text-decoration:none;
}
nav ul ul {
    display: none;
    position: absolute;
}
nav ul ul ul li {
    position: relative;
    top:-60px;
    left:170px;
}
@media all and (max-width : 768px) {
    #logo {
        display: block;
        padding: 0;
        text-align: center;
        float: left;
    }
    #logo img{
        left: 65px;
    }
    nav {
        margin: 0;
    }
    .toggle + a, .menu {
        display: none;
    }
    .toggle {
        display: block;
        padding:14px 20px;
        color:#fff;
        font-size:17px;
        text-decoration:none;
        border:none;
    }
    [id^=drop]:checked + ul {
        display: block;
    }
    nav ul li {
        float:left;
        display: block;
        width: 100%;
    }
    nav ul ul .toggle, nav ul ul a {
        padding: 0 40px;
    }
    nav ul ul ul a {
        padding: 0 80px;
    }
    nav ul li ul li .toggle, nav ul ul a, nav ul ul ul a{
        padding:14px 20px;
        color:#fff;
        font-size:17px;
    }
    nav ul li ul li .toggle, nav ul ul a {
        background-color: #000;
    }
    nav ul ul {
        float: none;
        position:static;
        color: #040000;
    }
    nav ul ul li:hover > ul, nav ul li:hover > ul {
        display: none;
    }
    nav ul ul li {
        display: block;
        width: 100%;
        float:left;
    }
    nav ul ul ul li {
        position: static;
    }
}
@media all and (max-width : 330px) {
    nav ul li {
        display:block;
        width: 94%;
    }
}
